#git 2.0 test
[include mainsail.cfg]
[include mainsail.cfg]
[force_move]
enable_force_move: True

# tal change
 
[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
rotation_distance: 40
microsteps: 16
endstop_pin: ^PA5
position_min: -10
position_endstop: -10
position_max: 290
homing_speed: 50
 
[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
rotation_distance: 40
microsteps: 16
endstop_pin: ^PA6
position_min: -20
position_endstop: -20
position_max: 252
homing_speed: 50
 
[stepper_z]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
rotation_distance: 8
microsteps: 16

# --- Selection between Physical Endstop and BLTouch ---
# Option 1 (Manual Endstop): Uncomment "Manual Endstop" lines and comment "Virtual Endstop"
# Option 2 (BLTouch): Comment "Manual Endstop" lines and uncomment "Virtual Endstop"

# --- Option 1: Manual Endstop (Standard button) ---
#endstop_pin: ^PA7
#position_endstop: 0

# --- Option 2: BLTouch (Sensor) ---
endstop_pin: probe:z_virtual_endstop
# position_endstop: 0 # יש למחוק או להפוך להערה כשעוברים ל-BLTouch

position_min: -5       # Required to allow nozzle to go below 0 during calibration
position_max: 300
homing_speed: 4
second_homing_speed: 1
homing_retract_dist: 2.0


# Before printing the PROBE_CALIBRATE command needs to be issued
# to run the probe calibration procedure, described at
# docs/Probe_Calibrate.md, to find the correct z_offset.

# [bltouch]
# sensor_pin: ^PB1							# Pull-up resistor enabled for the sensor pin
# control_pin: PB0							# Control pin for the BLTouch solenoid
# x_offset: 48								# Horizontal distance between nozzle and probe
# y_offset: -2								# Vertical distance between nozzle and probe
# #z_offset: 0								# Initial value, will be updated by SAVE_CONFIG
# speed: 3.0									# Speed of the Z axis during probing
# samples: 2									# Number of times to probe each point for average
# sample_retract_dist: 5.0					# How far to lift the nozzle between samples
# stow_on_each_sample: False					# Keeps the pin deployed between samples (solves Deploy errors)
# probe_with_touch_mode: True					# Enables more reliable touch sensing mode for Klipper
# pin_up_touch_mode_reports_triggered: False	# Optimization for specific BLTouch clones/versions

# [bltouch]
# sensor_pin: ^PB1
# control_pin: PB0
# x_offset: 48
# y_offset: -2
# #z_offset: 0            # Initial value, will be updated by SAVE_CONFIG
# speed: 3.0
# samples: 2
# sample_retract_dist: 5.0

[bltouch]
sensor_pin: ^PB1                            # Pull-up resistor enabled for the sensor pin
control_pin: PB0                            # Control pin for the BLTouch solenoid
x_offset: 48                                # Horizontal distance between nozzle and probe
y_offset: -2                                # Vertical distance between nozzle and probe
#z_offset: 0                                # Initial value, will be updated by SAVE_CONFIG
speed: 3.0                                  # Slow Z speed for higher precision and safety
samples: 2                                  # Probe each point twice to eliminate noise/outliers
sample_retract_dist: 5.0                    # Distance to lift between samples for a clean reset
stow_on_each_sample: True                   # MANDATORY for Clones: Forces physical pin reset
probe_with_touch_mode: False                # DISABLED for Clones: Prevents nozzle-bed crashes
pin_up_touch_mode_reports_triggered: False  # Standard logic for generic BLTouch clones

[safe_z_home]
home_xy_position: 150, 137					# XY coordinates to perform Z homing (center of the bed)
speed: 75									# Travel speed to the homing position
z_hop: 10									# Lift Z by this amount before homing to prevent scratching
z_hop_speed: 5								# Speed of the Z lift move

[bed_mesh]
speed: 100									# Speed of travel moves between mesh points
mesh_min: 55, 25							# Minimum XY coordinates for the probe mesh
mesh_max: 278, 250							# Maximum XY coordinates for the probe mesh
algorithm: bicubic							# Mathematical algorithm used to interpolate the mesh
probe_count: 5, 5							# Reduced to 5x5 to lower stress on the sensor during testing
horizontal_move_z: 10						# Height the toolhead maintains while moving between points

[extruder]
max_extrude_only_distance: 1000.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 34.936
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
pid_kp: 26.163
pid_ki: 1.418
pid_kd: 120.675
min_temp: 0
max_temp: 260
 
[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_Kp: 76.301
pid_Ki: 1.707
pid_Kd: 852.669
min_temp: 0
max_temp: 100
 
[fan]
pin: PA0
kick_start_time: 0.5
 
[mcu]
#use command ls /dev/serial/by-id/* to find the printer connected via USB
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command
 

[filament_switch_sensor filament_sensor]
pause_on_runout: false
switch_pin: !PA4

[bed_screws]
horizontal_move_z: 10
screw1: 30, 30
screw1_name: front left screw
screw2: 250, 30
screw2_name: front right screw
screw3: 250, 230
screw3_name: rear right screw
screw4: 30, 230
screw4_name: rear left screw
 
[printer]
kinematics: cartesian
max_velocity: 500
max_z_velocity: 5
max_z_accel: 100
max_accel: 10000

[gcode_macro START_PRINT]
gcode:
    G28                            # Home לכל הצירים
    G1 Z15 F3000                   # הרמה מהירה ל-15 מ"מ (מעל כל קליפס אפשרי)
    G1 X140 Y120 F6000             # נסיעה מהירה למרכז המיטה כשהראש גבוה
    
    # עכשיו המדפסת במרכז ובטוחה - כאן יבואו פקודות החימום וההמשך
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(205)|float %}
    M190 S{BED_TEMP}
    M109 S{EXTRUDER_TEMP}

    # הגבלת מהירות ותאוצה למינימום בשכבה הראשונה
    # VELOCITY=30 יגביל כל תנועה (גם Travel) ל-30 מ"מ לשנייה
    # SQUARE_CORNER_VELOCITY=1.0 ימנע תנועות חדות בפינות
    # SET_VELOCITY_LIMIT VELOCITY=30 ACCEL=400 SQUARE_CORNER_VELOCITY=1.0
    
    # M117 Safe mode active - Layer 1

    SET_VELOCITY_LIMIT VELOCITY=2 ACCEL=50 SQUARE_CORNER_VELOCITY=0.5
    
    M117 DEBUG MODE: Super Slow Layer...


[gcode_macro BLTOUCH_DEPLOY]
description: Extend the BLTouch pin
gcode:
    BLTOUCH_DEBUG COMMAND=pin_down

[gcode_macro BLTOUCH_STOW]
description: Retract the BLTouch pin
gcode:
    BLTOUCH_DEBUG COMMAND=pin_up

[gcode_macro BLTOUCH_RESET]
description: Reset BLTouch after an error (alarm)
gcode:
    BLTOUCH_DEBUG COMMAND=reset

[gcode_macro CALIBRATE_Z_OFFSET]
description: Start Z-Offset calibration process
gcode:
    G28
    PROBE_CALIBRATE

[gcode_macro CREATE_BED_MESH]
description: Heat up and create a new bed mesh
gcode:
    M140 S60          # Heat bed to 60C
    M190 S60          # Wait for bed to reach 60C
    G28               # Home all axes
    BED_MESH_CALIBRATE
    #SAVE_CONFIG

[gcode_macro SAVE_BLTOUCH_CALIBRATION]
description: Save the new bed mesh or Z-offset and restart the printer
gcode:
    SAVE_CONFIG

[gcode_macro MANUAL_BED_LEVEL]
description: Manual bed leveling with paper test
gcode:
    G28
    BED_SCREWS_ADJUST

[screws_tilt_adjust]
screw1: 0, 0
screw1_name: front left
screw2: 0, 250
screw2_name: rear left
screw3: 230, 250
screw3_name: rear right
screw4: 40, 230
screw4: 230, 0
screw4_name: front right
horizontal_move_z: 10
speed: 150
screw_thread: CW-M4

[gcode_macro AUTO_LEVEL_SCREWS]
description: Use BLTouch to calculate exact screw adjustments
gcode:
    G28
    SCREWS_TILT_CALCULATE


[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.399
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.133750, 0.053750, 0.020000, -0.022500, -0.057500
#*# 	  0.146250, 0.066250, 0.022500, -0.042500, -0.105000
#*# 	  0.137500, 0.066250, 0.027500, -0.035000, -0.102500
#*# 	  0.123750, 0.057500, 0.041250, -0.031250, -0.095000
#*# 	  0.147500, 0.103750, 0.100000, 0.046250, 0.000000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 55.0
#*# max_x = 278.0
#*# min_y = 25.0
#*# max_y = 250.0
